/* Custom Properties */
:root {

    /* backgorund colors */
    --bg-light-blu: lightblue;
    --bg-orange: orange;
    --bg-blu: blue;
    --bg-pink: pink;
    --bg-white: white;
    --bg-gray: rgb(226, 220, 220);
    --bg-green: green;
    --bg-black: rgb(34, 38, 41);

    /* Margin */
    --mr-sm: 5px;
    --mr-md: 10px;
    --mr-lg: 15px;

    /* Padding */
    --pd-top-btm-md: 25px 0;
    --pd-top-btm-lg: 50px 0;
    --pd-xs: 5px;
    --pd-sm: 10px;
    --pd-md: 15px;
    --pd-lg: 20px;
    --pd-xl: 25px;

}

/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

/* Utility */
.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* Header */
#header {
    height: 80px;
    background-color: var(--bg-light-blu);
    padding: var(--pd-top-btm-md);
}

.header-content {
    align-items: center;
    background-color: var(--bg-orange);
}

img,
.button {
    width: 25%;

}

.navbar {
    width: 50%;
    justify-content: center;
}

.navbar-link li {
    margin: var(--mr-sm);
}

.button {
    text-align: right;
}

/* Hero section */

#hero {
    background-color: var(--bg-blu);
    padding: var(--pd-top-btm-lg);
    height: 300px;
}

.hero-content {
    background-color: var(--bg-pink);
    text-align: center;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

/* main content section */

.section-bg-white {
    background-color: var(--bg-white);
    padding: var(--pd-top-btm-md);

    /* debug */
    height: 300px;
}

.section-bg-gray {
    background-color: var(--bg-gray);
    padding: var(--pd-top-btm-md);

    /* debug */
    height: 300px;
}

.section-bg-white>div,
.section-bg-gray>div {
    height: 100%;
}

.block-text {
    flex-basis: 60%;
    background-color: var(--bg-light-blu);
}

.block-img {
    flex-basis: 40%;
    background-color: var(--bg-pink);
}

/* action section */
.section-action {
    background-color: var(--bg-gray);
    padding: var(--pd-top-btm-md);

    /* debug */
    height: 500px;
}

.block-action {
    background-color: var(--bg-green);
    height: 100%;
    margin: 0 auto;
}

/* footer section */

.footer {
    background-color: var(--bg-black);

    /* debug */
    height: 500px;
}